@model IEnumerable<first.Models.GuestResponse>

@{
      Layout = null;
}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width" />
    <title>Responses</title>
  </head>
  <body>
    <div>
      <h2>Here is the list of people attending the party:</h2>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
          </tr>
        </thead>
        <tbody>
          @foreach(first.Models.GuestResponse guestResponse in Model)
          {
            <tr>
              <td>@guestResponse.Name</td>
              <td>@guestResponse.Email</td>
              <td>@guestResponse.Phone</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </body>
</html>
