@model first.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width" />
    <title>RSVP Form</title>
  </head>
  <body>
    <div>
      <h4>This is the RSVP Form View.</h4>
      <form asp-action="RsvpForm" method="post">
        <div asp-validation-summary="All" ></div>
        <p>
          <label asp-for="Name">Your Name:</label></label>
          <input type="text" asp-for="Name" />
        </p>
        <p>
          <label asp-for="Email">Your Email:</label>
          <input type="email" asp-for="Email" />
        </p>
        <p>
          <label asp-for="Phone">Your Phone:</label>
          <input type="tel" asp-for="Phone" />
        </p>
        <p>
          <label>Will you attend?</label>
          <select asp-for="WillAttend">
            <option value="">Choose an option</option>
            <option value="true">Yes, I'll be there</option>
            <option value="false">No, I can't come</option>
          </select>
        </p>
        <button type="submit">Submit RVPS</button>
      </form>
    </div>
  </body>
</html>
