@model IEnumerable<string>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width" />
    <title>Home</title>
  </head>
  <body>
    <div>
        <ul>
        @foreach(string item in Model)
        {
          <li>@item</li>
        }
        </ul>
    </div>
  </body>
</html>
